@font-face {
  font-family: 'Get Schwifty';
  src: url('src\assets\fonts\get_schwifty.ttf');
}

.example-spacer {
  flex: 1 1 auto;
}

.toolbar {
  display: grid;
  height: auto;
  align-content: center;
  background: transparent;
}

/* Blink Effect */
.title {
  margin-top: 50px;
  align-content: center;
  font-size: calc(20px + 5vh);
  line-height: calc(20px + 20vh);
  text-shadow: 0 0 5px #88e23b,
    0 0 15px #88e23b,
    0 0 20px #88e23b,
    0 0 40px #88e23b,
    0 0 60px #808080,
    0 0 10px #808080,
    0 0 98px #88e23b;
  color: #02B1C8;
  font-family: "Get Schwifty", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {

  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #88e23b,
      0 0 15px #88e23b,
      0 0 20px #88e23b,
      0 0 40px #88e23b,
      0 0 60px #808080,
      0 0 10px #808080,
      0 0 98px #88e23b;
    color: #02B1C8;
  }
}

@keyframes blink {

  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #88e23b,
      0 0 15px #88e23b,
      0 0 20px #88e23b,
      0 0 40px #88e23b,
      0 0 60px #808080,
      0 0 10px #808080,
      0 0 98px #88e23b;
    color: #02B1C8;
  }
}